<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="style.css">
    <title><WEB-TAXI></WEB-TAXI></title>
    <script
        src="https://api-maps.yandex.ru/2.1/?apikey=8d3faaa1-8ec9-4ba2-8a0d-8977f91aa49f&lang=ru_RU&load=package.full"
        type="text/javascript"></script>
    <script src="script.js" defer></script>
</head>

<body>
    <header class="container">
        <div class="page-header">
            <div class="logo">
                <a href="#">PRIME car</a>
            </div>
            <input type="checkbox" id="click">

            <label for="click" class="mainicon">
                <div class="menu">
                    <i class='bx bx-menu'></i>
                </div>
            </label>
            <ul>
                <li class="dropdown">
                    <a href="javascript:void(0);" class="dropbtn" style="--navAni:1">Тарифы ↓</a>
                    <div class="dropdown-content">
                        <!-- <a href="http://127.0.0.1:5500/3D%20car%20Mercedes/dist%20(work)/index.html">STANDARD</a> -->
                        <a href="standart_3D/standart.html">STANDARD</a>
                        <a href="premium_3D/premium.html">PREMIUM</a>
                        <a href="VIP_3D/vip.html">VIP</a>
                    </div>
                </li>
                <li><a href="#" style="--navAni:2">История заказов</a></li>
                <li><a href="#" style="--navAni:3">Q & A</a></li>
                <li><a href="#" style="--navAni:4">Тех. Поддержка</a></li>
                <!-- Другие пункты меню, если они у вас есть -->
            </ul>
            <label class="mode">
                <input type="checkbox" id="darkModeToggle">
                <i class='bx bxs-moon'></i>
            </label>
        </div>
    </header>

    <div class="address-form">
        <input type="text" id="from-input" placeholder="Откуда">
        <input type="text" id="to-input" placeholder="Куда?">
        <input type="'text" id="route-info" placeholder="Информация о вашей поездке" readonly>
    </div>

    <!-- Тарифы -->
    <div class="tariff-selection">
        <div class="tariff" data-tariff-type="standard" role="button">
            <img src="https://cdn.glitch.global/a86765e8-1541-4f1b-a7f0-d84ed902069d/h9.ddff3cc.png?v=1711824358995"
                alt="Иконка Стандарт" class="tariff-icon">
            <div class="tariff-info">
                <h3>Standart</h3>
                <p class="tariff-price">от 555₽</p>
            </div>
        </div>
        <div class="tariff" data-tariff-type="premium" role="button">
            <img src="https://cdn.glitch.global/a86765e8-1541-4f1b-a7f0-d84ed902069d/%D0%BC%D0%B5%D1%80%D1%81%20%D0%BF%D1%80%D0%BE%D0%B1%D0%B0%204.png?v=1711824988641"
                alt="Иконка Премиум" class="tariff-icon">
            <div class="tariff-info">
                <h3>Premium</h3>
                <p class="tariff-price">от 1555₽</p>
            </div>
        </div>
        <div class="tariff" data-tariff-type="vip" role="button">
            <img src="https://cdn.glitch.global/a86765e8-1541-4f1b-a7f0-d84ed902069d/%D1%80%D0%BE%D0%BB%D1%81%20%D0%BF%D1%80%D0%BE%D0%B1%D0%B0%203.png?v=1711824863052"
                alt="Иконка VIP" class="tariff-icon">
            <div class="tariff-info">
                <h3>VIP</h3>
                <p class="tariff-price">от 5555₽</p>
            </div>
        </div>
    </div>

    <div id="map"></div>

    <!-- Кнопки масштабирования -->
    <div class="zoom-control">
        <button class="zoom-in">+</button>
        <button class="zoom-out">-</button>
    </div>

    <!-- Кнопка геолокации -->
    <div class="geolocation-control">
        <button id="geolocation-button"><i class='bx bx-navigation'></i></button>
    </div>

    <script>
        const darkModeToggle = document.getElementById('darkModeToggle');
        const body = document.body;
        const isDarkMode = localStorage.getItem('darkMode') === 'enabled';
        if (isDarkMode) {
            body.classList.add('dark-mode');
            darkModeToggle.checked = true;
        }
        darkModeToggle.addEventListener('change', () => {
            if (darkModeToggle.checked) {
                body.classList.add('dark-mode');
                localStorage.setItem('darkMode', 'enabled');
            } else {
                body.classList.remove('dark-mode');
                localStorage.setItem('darkMode', 'disabled');
            }
        });
    </script>
</body>

</html>