<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>3D Car</title>
    <link rel="stylesheet" href="./style.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@300;500;800&display=swap" rel="stylesheet">
    <script type="module" src="https://unpkg.com/@google/model-viewer/dist/model-viewer.min.js"></script>
</head>

<body>
    <div id="page"
        class="h-full bg-gradient-to-r from-transparent to-slate-200/30 bg-slate-200 text-slate-900 transition-colors duration-[2000ms] antialiased relative overflow-hidden select-none">

        <div id="loading" class="absolute inset-0 z-50 bg-slate-200/80 flex items-center justify-center">
            <svg class="animate-spin h-10 w-10" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <g fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="2">
                    <circle class="opacity-20" cx="12" cy="12" r="11" />
                    <path d="m23 12c0 6.1-4.9 11-11 11" />
                </g>
            </svg>
        </div>

        <model-viewer class="absolute left-0 top-0 w-full h-full z-30 pointer-events-none"
            src="https://cdn.glitch.global/a86765e8-1541-4f1b-a7f0-d84ed902069d/hongqi_h9.glb?v=1710495396668"
            exposure="1" shadow-intensity="3" camera-orbit="0deg 90deg 2m" camera-target="0m 0m 0m"></model-viewer>

        <div class="absolute left-0 top-1/2 -translate-y-1/2 z-0 pointer-events-none">
            <div
                class="title opacity-0 text-[clamp(200px,40vh,500px)] font-bold text-slate-900/5 opacity-0 pointer-events-none flex whitespace-nowrap will-change-transform">
                <span class="mx-20">STANDART</span>
                <span class="mx-20">STANDART</span>
                <span class="mx-20">STANDART</span>
                <span class="mx-20">STANDART</span>
                <span class="mx-20">STANDART</span>
                <span class="mx-20">STANDART</span>
            </div>
        </div>

        <div class="swiper w-full h-full absolute left-0 top-0 z-40 opacity-0">

            <div class="swiper-wrapper">

                <section class="swiper-slide w-full h-full flex flex-col justify-end relative p-[5vw]">

                    <div id="inner-1"
                        class="flex flex-col items-start gap-4 lg:gap-8 w-full sm:w-2/3 lg:w-1/3 3xl:w-1/4 md:text-lg">
                        <h1 class="text-[clamp(26px,4vw,60px)] leading-none font-light uppercase">
                            ТАРИФ
                            <br class="hidden lg:block" />
                            <span class="font-bold">STANDART</span>
                        </h1>

                        <p>
                            Представляем Вам наш базовый вариант для тех, кто ценит сочетание комфорта и доступности.
                            Выбирая этот тариф, вы получаете доступ к современному и хорошо укомплектованному автопарку,
                            где каждый автомобиль обеспечивает приятное и безопасное передвижение.
                        </p>

                        <strong class="hidden lg:block">
                            ОТ 555 руб.
                        </strong>

                        <div class="flex flex-wrap gap-2">
                            <a href="#section-2" data-slide-to="1"
                                class="uppercase px-6 py-3 md:px-12 md:py-4 rounded-full text-xs md:text-base tracking-wider text-slate-50 bg-blue-700 hover:bg-blue-600 active:bg-blue-900 transition-colors grow text-center">
                                Подробнее о тарифе
                            </a>
                            <a href="javascript:void(0);"
                                class="button-back uppercase px-6 py-3 md:px-12 md:py-4 rounded-full text-xs md:text-base tracking-wider bg-transparent hover:bg-slate-50/50 active:bg-white transition-colors grow text-center">
                                Назад
                            </a>
                        </div>
                    </div>

                </section>

                <section
                    class="swiper-slide w-full h-full flex flex-col items-end justify-end lg:justify-center relative z-50 px-[5vw] py-[5vh]">

                    <div id="inner-2"
                        class="flex flex-col items-start gap-5 lg:gap-8 w-full sm:w-2/3 lg:w-1/3 2xl:w-1/4 p-[2.5vw] mb-8 lg:mb-0 sm:box-content rounded-xl sm:rounded-[2vw] md:text-lg text-slate-50 bg-zinc-900/20 backdrop-blur-lg">
                        <h2 class="text-[clamp(22px,3vw,36px)] leading-[110%]">
                            Что еще в Standart?
                        </h2>

                        <p class="mb-10 lg:mb-7">
                            Тариф Standart идеально подходит для ежедневных поездок по городу, встречи деловых партнеров
                            или просто комфортного перемещения из пункта А в пункт Б без лишних затрат. Мы стремимся
                            сделать вашу поездку максимально приятной и эффективной, несмотря на доступную стоимость.
                        </p>

                        <a href="#section-3" data-slide-to="2"
                            class="uppercase px-12 py-4 rounded-full text-xs md:text-base tracking-wider text-slate-50 bg-blue-700 hover:bg-blue-600 active:bg-blue-900 transition-colors absolute bottom-0 translate-y-1/2">
                            Весь автопарк Standart
                        </a>
                    </div>

                </section>

                <section class="swiper-slide w-full h-full flex flex-col items-center relative px-[5vw] py-[5vh]">

                    <div id="inner-3"
                        class="relative z-50 flex flex-col items-center gap-4 text-white drop-shadow-[0_2px_3px_rgba(0,0,0,0.9)]">
                        <h4 class="text-[clamp(22px,3vw,36px)]">
                            PRIME car
                        </h4>
                    </div>

                </section>

            </div>

            <div class="swiper-pagination"></div>

        </div>

        <picture class="absolute left-0 top-1/2 w-full h-full z-0 opacity-0">
            <source
                srcSet="https://cdn.glitch.global/a86765e8-1541-4f1b-a7f0-d84ed902069d/DALL%C2%B7E%202024-03-12%2014.15.47%20-%20Craft%20an%20image%20with%20a%20large%2C%20detailed%20road%20occupying%20a%20prominent%20space%20in%20the%20foreground%2C%20almost%20filling%20the%20lower%20third%20of%20the%20frame%20to%20give%20a%20sense%20.webp?v=1710600711525 2x"
                media="(min-width: 2000px)" />
            <source
                srcSet="https://cdn.glitch.global/a86765e8-1541-4f1b-a7f0-d84ed902069d/DALL%C2%B7E%202024-03-12%2014.15.47%20-%20Craft%20an%20image%20with%20a%20large%2C%20detailed%20road%20occupying%20a%20prominent%20space%20in%20the%20foreground%2C%20almost%20filling%20the%20lower%20third%20of%20the%20frame%20to%20give%20a%20sense%20.webp?v=1710600711525 2x"
                media="(min-width: 1000px)" />
            <source
                srcSet="https://cdn.glitch.global/a86765e8-1541-4f1b-a7f0-d84ed902069d/DALL%C2%B7E%202024-03-12%2014.15.47%20-%20Craft%20an%20image%20with%20a%20large%2C%20detailed%20road%20occupying%20a%20prominent%20space%20in%20the%20foreground%2C%20almost%20filling%20the%20lower%20third%20of%20the%20frame%20to%20give%20a%20sense%20.webp?v=1710600711525 2x"
                media="(min-width: 500px)" />
            <img class="w-full h-full object-cover"
                srcSet="https://cdn.glitch.global/a86765e8-1541-4f1b-a7f0-d84ed902069d/DALL%C2%B7E%202024-03-12%2014.15.47%20-%20Craft%20an%20image%20with%20a%20large%2C%20detailed%20road%20occupying%20a%20prominent%20space%20in%20the%20foreground%2C%20almost%20filling%20the%20lower%20third%20of%20the%20frame%20to%20give%20a%20sense%20.webp?v=1710600711525 2x"
                src="https://cdn.glitch.global/a86765e8-1541-4f1b-a7f0-d84ed902069d/DALL%C2%B7E%202024-03-12%2014.15.47%20-%20Craft%20an%20image%20with%20a%20large%2C%20detailed%20road%20occupying%20a%20prominent%20space%20in%20the%20foreground%2C%20almost%20filling%20the%20lower%20third%20of%20the%20frame%20to%20give%20a%20sense%20.webp?v=1710600711525"
                alt="Landscape" />
        </picture>

    </div>
    <!-- partial -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/Swiper/8.4.6/swiper-bundle.min.js'></script>
    <script src='https://unpkg.co/gsap@3/dist/gsap.min.js'></script>
    <script src='https://unpkg.com/gsap@3/dist/ScrollTrigger.min.js'></script>
    <script src="./script.js"></script>

</body>

</html>